<div class="modal-content animate"  >
    <label><h1 for="uname"><b>Reset Password</b></h1></label>
    <div class="imgcontainer">
      <!-- <span (click)="CloseClicked()" class="close" title="Close Modal">&times;</span> -->
      <!-- <img src="../../../assets/man.png" alt="man" class="avatar"> -->
    </div>
    
  
    <div class="container">
      <div *ngIf="alertEmpty" class="alert">*Please Fill All The Fields</div>
      <div *ngIf="alertMail" class="alert">*Please Enter Valid Mail</div>
      <label for="uname"><b>Mail</b></label>
      <input required type="text" placeholder="Enter Mail" name="uname" [(ngModel)]="mail" (keyup)="hideAlertMail()"  >
      <div *ngIf="alertPassword" class="alert">*Password must contain at least 6 characters</div>
      <label for="psw"><b>New Password</b></label>
      <input required type="password" placeholder="New Password" name="psw" [(ngModel)]="password" (keyup)="hideAlertPassword()" >
      <div *ngIf="alertConfirmPassword" class="alert">*Passwords not equal</div>
      <label for="psw"><b>Confirm Password</b></label>
      <input required type="password" placeholder="Confirm New Password"  [(ngModel)]="confirmpassword" (keyup)="hideAlertConfirmPassword()" >
      <button mat-raised-button color="primary" (click)="loginClicked()">Save</button> 
      <!-- <button (click)="loginClicked()" >Save</button> -->
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
      <div  class="alert" *ngIf="userNotFound">***User Not Found In System***</div>
      <div  class="alertSucceeded" *ngIf="passwordChanged">Password Changed!</div>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
      <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
  </div>
  