.menu {
    background-color: aliceblue;
    border-right:solid 0.5em rgb(206, 205, 205) ;
    height: 100%;
    width: 20vw;
  }
  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  img{
    width: 100px;
  }
  