<div class="menu">

  <div class="flex-container">
  <div (click)="postImgClicked()"><img src="../../../../../assets/post.png" alt="newPostImg"   ></div>
  <div (click)="friendsImgClicked()"><img src="../../../../../assets/friends.png" alt="newPostImg" ></div>
  </div>
  <label><b>From Date:  </b></label>
   <input type="date" placeholder="From Date"  required [(ngModel)]="fromDate">
   <br><br>
   <label><b>Until Date:  </b></label>
   <input type="date" placeholder="To Date" required [(ngModel)]="untilDate">
   <br><br>
   <label for="tags"><b>Tags: </b></label>
      <input required type="text" placeholder="Enter Tags #example" name="text" [(ngModel)]="tags"  >
   <br><br><br><br><br><br>
   <button mat-raised-button color="primary" (click)="Send()">Set</button>
   <button mat-raised-button color="warn" (click)="cancel()">cancel</button>
      
  </div>
  
