<div *ngIf="allBodyComponent">
  <div class="modal-content animate" >
    <label><h1 for="uname"><b>New Post</b></h1></label>
    <div class="imgcontainer">
      <!-- <span (click)="CloseClicked()" class="close" title="Close Modal">&times;</span> -->
      
    </div>
  
    <div class="container">
      <div class="alert" *ngIf="alertPicture">*please Enter Picture</div>
      <label for="picture"><b>Picture</b></label>
      <br><br>
      <!-- <input type="file"  accept="image/*" name="browse"[(ngModel)]="imageSorce" (change)="readURL($event)" ><br><br>
      <img [src]="imageSorce" alt="your image" /> -->
      <input #file type="file" accept='image/*' (change)="preview(file.files)" (mouseup)="hideAlertPicture()" >
      <img [src]="imgURL" height="200" *ngIf="imgURL"/>
      <br><br>
      <label for="description"><b>Text</b></label>
      <input required type="text" placeholder="Text" name="text" [(ngModel)]="description"  >
      <button (click)="postClicked()" >Post</button>
      <div *ngIf="Succeeded">Succeeded!</div>
       
    </div>
  
  </div>

</div>

<div class="outOfTimeAlertClass" *ngIf="outOfTimeAlert">We see you are not here , please Loggin again.. </div>  