<div *ngIf="allBodyComponent">
  <div class="modal-content animate" >
    <label><h1 for="uname"><b>New Post</b></h1></label>
    <div class="container">
      <div class="alert" *ngIf="alertPicture">*please Enter Picture</div>
      <label for="picture"><b>Picture</b></label>
      <br><br>
      
      <input #file type="file" accept='image/*' (change)="preview(file.files)" (mouseup)="hideAlertPicture()" >
      <img [src]="imgURL" height="200" *ngIf="imgURL"/>
      <br><br>
      <label for="description"><b>Text</b></label>
      <input required type="text" placeholder="Text" name="text" [(ngModel)]="description"  >
      
      <!-- <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tag Users</mat-label>
        <mat-chip-list #chipList aria-label="Name selection">
          <mat-chip
            *ngFor="let name of names"
            (removed)="remove(name)">
            {{name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Enter user..."
            #fruitInput
            [formControl]="nameCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let user of allUsers"(click)="userClick(user)" >
            {{user.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <label for="tags"><b>Tags</b></label>
      <input required type="text" placeholder="Enter Tags #example" name="text" [(ngModel)]="tags"  >
      <button mat-raised-button color="primary" (click)="postClicked()">Post</button>
      <div *ngIf="Succeeded">Succeeded!</div>
       
    </div>
  
  </div>

</div>

<div class="outOfTimeAlertClass" *ngIf="outOfTimeAlert">We see you are not here , please Login again.. </div>  