<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login>  -->
<!-- <app-post></app-post> -->
<!-- <app-feed></app-feed> -->
<nav>
  <div>
    <img src="../assets/logo.png" alt="logo">Fakelook
  </div>
    
    <!-- <button routerLink="/sign-up.component" routerLinkActive="active" type="button">Sign Up</button> -->
    <button routerLink="/" routerLinkActive="active">Loggin</button>
    <button routerLink="/feed-component" routerLinkActive="active">Feed</button>
    <button routerLink="/add-post-component" routerLinkActive="active">Add Post</button>
    <!-- <button routerLink="/sign-out.component" routerLinkActive="active">SignOut</button> -->
    <button (click)="signOutClicked()">SignOut</button>
    <!-- <button routerLink="/forgot-password.component" routerLinkActive="active">Forgot Password</button> -->
    
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>