<mat-toolbar class="flex-container">
  <span>Fakelook</span>
  <span >
    <button mat-stroked-button color="primary" routerLink="/home-component" routerLinkActive="active" >Home</button>
    <!-- <button mat-stroked-button color="primary" routerLink="/feed-component" routerLinkActive="active" >Feed</button>
    <button mat-stroked-button color="primary" routerLink="/map-component" routerLinkActive="active" >Map</button> -->
    <button mat-stroked-button color="primary" routerLink="/" routerLinkActive="active">Login</button>
    <button mat-stroked-button color="primary" (click)="signOutClicked()">SignOut</button>
  </span>
  
</mat-toolbar>


   <!-- The routed views render in the <router-outlet> -->
  <div class="route-container">
      <router-outlet></router-outlet>
  </div>