.outOfTimeAlertClass{
    color: darkblue;
    font-size: 150%;
    text-align: center;
}
.flex-container
{
    display: flex;
    gap:80px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
:host{
    flex: 1;
    min-height: 0;
    overflow: auto;
}
app-post{
    margin: 20px;
}