/* img{
    width: 20%;
    height: 20%;
}
.border{
    border-style: solid;
    border-width:thin;
    width: 30%;
    
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */

/* }
.flex-container{
    display: flex;
    
    justify-content: space-around;
}  */
/* .flex-container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.example-card {
    max-width: 400px;
    text-align: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card-actions img{
    width: 20%;
    height: 20%;
}
.example-card:hover {
    
    background: linear-gradient(#ffffff,#DBDBDB); 
  }

#imgPost{
    width: 40%;
    height: 40%;

}
.example-chip-list {
    width: 100%;
  }
  .tag-comp{
    margin-bottom: 10px;
  }
