<mat-card class="example-card">
    <img alt="picture" [src]="post.imageSorce" id="imgPost">
    <mat-card-content>
      <p>
        {{post.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <div> </div> -->
        <button mat-button>{{counterLikes}}</button>
        <img [src]="srcLike" alt="like" (click)="likeClicked()">
        
        <button mat-button (click)="CommentClicked()">Comment</button>
        <button mat-button (click)="readMoreClicked()">Read more</button>
    </mat-card-actions>
     
    <div *ngIf="inputContent">
        <!-- <input required type="text" placeholder="Enter Comment"  [(ngModel)]="content"  > -->
        <!-- <button (click)="publishCommentClicked()">Publish Comment</button> -->
        
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Write Comment</mat-label>
              <input matInput placeholder="Write Comment" [(ngModel)]="content">
            </mat-form-field>
            <button mat-button (click)="publishCommentClicked()">Publish Comment</button>

    </div>
    <div *ngIf="allDetails">
        <!-- <div *ngFor="let item of contentstArray">{{item}}</div> -->
        <mat-list *ngFor="let item of contentstArray">
            <mat-list-item >{{item}}</mat-list-item>
            <mat-divider ></mat-divider>  
        </mat-list>
        <div>X : {{post.x_Position}}</div>
        <div>Y : {{post.y_Position}}</div>
        <div>Z : {{post.z_Position}}</div>
        
        <div>Date: {{ post.date | date:'medium' }} </div>
        
    </div>
  </mat-card>


 

