<mat-card class="example-card">
    <img alt="picture" [src]="post.imageSorce" id="imgPost">
    <mat-card-content>
      <p>
        {{post.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <div> </div> -->
        <button mat-button>{{counterLikes}}</button>
        <img [src]="srcLike" alt="like" (click)="likeClicked()">
        
        <button mat-button (click)="CommentClicked()">Comment</button>
        <button mat-button (click)="userTagsClicked()">Tags</button>
        <button mat-button (click)="readMoreClicked()">Read more</button>
    </mat-card-actions>

    <div *ngIf="userTags">
      <mat-chip-list>
        <div class="tag-comp">
        <mat-chip *ngFor="let tag of post.tags">
            #{{tag.content}} 
        </mat-chip>
      </div>
      </mat-chip-list>

         <!-- <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tag Users</mat-label>
        <mat-chip-list #chipList aria-label="Name selection">
          <mat-chip
            *ngFor="let name of names"
            (removed)="remove(name)">
            {{name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Enter user..."
            #fruitInput
            [formControl]="nameCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let name of filteredNames | async" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
       -->
        
    </div>
     
    <div *ngIf="inputContent">
        
        
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Write Comment</mat-label>
              <input matInput placeholder="Write Comment" [(ngModel)]="content">
            </mat-form-field>
            <button mat-button (click)="publishCommentClicked()">Publish Comment</button>

    </div>
    <div *ngIf="allDetails">
        
        <mat-list *ngFor="let item of contentstArray">
            <mat-list-item >{{item}}</mat-list-item>
            <mat-divider ></mat-divider>  
        </mat-list>
        <div>X : {{post.x_Position}}</div>
        <div>Y : {{post.y_Position}}</div>
        <div>Z : {{post.z_Position}}</div>
        <div>Date: {{ post.date | date:'medium' }} </div>
        
    </div>
  </mat-card>


 

